body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  /*background-color: #c1d0f0;*/
  background-color: #D5E3F2;
  font-family: "montserrat", sans-serif;
}

/* NAVIGATION */

nav {
  z-index: 1;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
}

#navtogglebutton {
  z-index: 2;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#navtogglebutton:hover {
  cursor: pointer;
}

#navtogglebutton:hover.navHidden #bar1 {
  -webkit-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -o-transform: translate(0, -3px);
}

#navtogglebutton:hover.navHidden #bar3 {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
}

#bar1 {
  background-color: #000000;
  height: 3px;
  width: 25px;
  margin-top: 17px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 3px;
  transition: 0.5s;
}

#bar3 {
  background-color: #000000;
  height: 3px;
  width: 25px;
  margin: 3px 12px;
  transition: 0.5s;
}

#bar2 {
  background-color: #000000;
  height: 3px;
  width: 25px;
  margin: 3px 12px;
  transition: opacity 0.5s;
}

.rotateBar1 {
  -webkit-transform: translate(0, 6px) rotate(-45deg);
  -moz-transform: translate(0, 6px) rotate(-45deg);
  -o-transform: translate(0, 6px) rotate(-45deg);
  transform: translate(0, 6px) rotate(-45deg);
}

.hideBar2 {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.rotateBar3 {
  -webkit-transform: translate(0, -6px) rotate(45deg);
  -moz-transform: translate(0, -6px) rotate(45deg);
  -o-transform: translate(0, -6px) rotate(45deg);
  transform: translate(0, -6px) rotate(45deg);
}

#navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: -115%;
  height: 0;
  opacity: 0;
  background-color: rgba(255, 136, 77, 0.95);
}

#navbarfirstbutton {
  margin-top: 10%;
}

#navbar li {
  font-size: 3vh;
  text-align: center;
  list-style: none;
  padding: 1% 0px;
}

.navbutton {
  text-decoration: none;
  color: #000000;
}

.navbutton:hover {
  color: #ffffff;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

/* GENERAL */

.linklogo_github, .linklogo_gmail, .linklogo_instagram, .linklogo_facebook, .linklogo_linkedin {
  display: inline-block;
  transition: 0.5s;
  margin-right: 1vw;
}

.linklogo_gmail img {
  margin-top: -0.7vh;
  height: 2.3vh;
  vertical-align: middle;
}

.linklogo_github img {
  height: 3.3vh;
  vertical-align: top;
}

.linklogo_instagram img {
  height: 3.1vh;
  vertical-align: middle;
  margin-top: -0.8vh;
}

.linklogo_facebook img {
  height: 3.2vh;
  vertical-align: middle;
  margin-top: -0.8vh;
}

.linklogo_linkedin img {
  height: 3.3vh;
  vertical-align: middle;
  margin-top: -0.7vh;
}

.link:hover .linklogo_github, .link:hover .linklogo_gmail, .link:hover .linklogo_instagram, .link:hover .linklogo_facebook, .link:hover .linklogo_linkedin {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: #ffffff;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

#maincontent {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

.shortdivider {
  margin: 10px auto;
  background-color: #000000;
  width: 25%;
  height: 1px;
}

.toFadeIn, .toFadeInScroll {
  z-index: 0;
  opacity: 0;
  position: relative;
  top: 20px;
}

#subcontent {
  text-align: center;
  font-size: 3vh;
}

.subcontentheader {
  font-size: 4vh;
}

.dividerToWiden {
  margin: 0 auto;
  background-color: #000000;
  height: 1px;
  width: 0;
}

.slideUpHeaderContainer {
  height: 7%;
  margin-top: 2vh;
  overflow: hidden;
}

.toSlideUpHeader {
  position: relative;
  top: 100%;
  font-size: 5vh;
  text-align: center;
}

/* HOME PAGE */

#personalpiccropper {
  margin: 15px auto;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#personalpic {
  margin-left: -28px;
  margin-top: -40px;
  width: 125%;
  height: auto;
}

/* PROJECTS PAGE */

.programlang {
  font-size: 2.5vh;
}
